* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	min-height: 100vh;
	margin: 0;
	background-image: url(20.jpg);
	background-color: #000000;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav {
	margin-top: 1px;
}

.logo a {
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: white;
	transition-duration: 0.5s;
	transition-property: all;
	transition-timing-function: ease-in-out;
}

.logo a:hover {
	padding-left: 1cm;
	color: skyblue;
}


.main-nav a {
	font-family: 'Open Sans', sans-serif;
	text-decoration : none;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: white;
	font-size: .99em;
	border: solid;
	border-radius: 15px;
	transition-duration: 0.5s;
}


.main-nav a:hover {
	color: skyblue;
	padding: 0.5cm;
}

.li1{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.li2{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.li3{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.li4{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}


.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #6aa3d1;
	background-color: #6aa3d1;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.form {

      display: flex;
      justify-content: center;
      height: 8cm;
      width: 8cm;
      margin-top: 5cm;
      margin-right: 10cm;
      margin-left: 13.5cm;
      align-items: center;
      padding: 20px;
      border-radius: 25px;
      background-color: #6aa3d1;

}


.clickable{
	font-family: 'Open Sans', sans-serif;
	text-decoration : none;
	padding: 5px 5px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: white;
	font-size: .99em;
	border: solid;
	border-radius: 15px;
	transition-duration: 0.5s;
}

.clickable:hover{
	cursor: pointer;
	color: skyblue;
}

.Nom{
	margin-left: 10px;
}

#Nom{
	padding: 5px 5px;
	border-radius: 15px;
	border-color: transparent;
}

.Prenom{
	margin-left: 10px;
}

#Prenom{
	padding: 5px 5px;
	border-radius: 15px;
	border-color: transparent;
}
.Tel{
	margin-left: 10px;
}
#Tel{
	padding: 5px 5px;
	border-radius: 15px;
	border-color: transparent;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

@media (max-width: 480px) {

	body {
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6;
		min-height: 100vh;
		margin: 0;
		background-image: url(20.jpg);
		width: 100vw;
		height: 100vh;
		height: -webkit-fill-avaliable;
		background-position: center center;
  		background-attachment: fixed;
  		background-repeat: no-repeat; 
  		background-size: cover;
	}

	.main-nav a {
		font-family: 'Open Sans', sans-serif;
		text-decoration : none;
		padding: 5px 5px;
		text-transform: uppercase;
		text-align: center;
		display: block;
		color: white;
		font-size: .99em;
		border: solid;
		border-radius: 15px;
		transition-duration: 0.5s;
	}

	.logo a {
		font-size: 25px;
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		padding: 5px 5px;
		text-transform: uppercase;
		text-align: center;
		display: block;
		color: white;
		transition-duration: 0.5s;
		transition-property: all;
		transition-timing-function: ease-in-out;
		 }





	.li1{
		padding: 5px;
	}
	.li2{
		padding: 5px;
	}
	.li3{
		padding: 5px;
	}
	.li4{
		padding: 5px
	}

 }